/* 
    Created on : 14-Nov-2019, 10:36:02 AM
    Author     : Aaron Tran, Vinayak P
*/

body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size:cover;
    font-family:arial;
    padding: 0px 30px;
    text-align:center;
}

.deleted{
    color:red;
}
.homeForm{
    padding-top:0px;
}

form{
    background-color:white;
    padding:50px 0px;
    margin:20px 30%;
    border-radius:10px;
    border:1px black solid;
    box-shadow: 5px 0 15px -4px rgba(31, 73, 125, 0.8), -5px 0 8px -4px rgba(31, 73, 125, 0.8);
}

.missionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:10px;
}

.mission {
    flex-grow:1;
    flex-shrink:2;
    width:30%;
    padding:15px;
    margin:5px;
    border: solid black 2px;
    border-radius:5px;
    transition: background-color 1s;
    transition: color 0.5s;
    background-color:rgba(255,255,255,0.75);
    text-align:left;
    overflow:scroll;
}

.mission:hover{
    background-color:rgba(170, 5, 5, 0.75);
    color:white;
}

a, input[type="submit"]{
    border:solid black 1px;
    border-radius:5px;
    background-color:white;
    padding:5px 10px;
    margin:10px;
    text-decoration:none;
    color:black;
    font-size:12px;
    font-weight:600;
    text-transform: uppercase;
}

a{
    white-space: nowrap;
}

a:hover, input[type="submit"]:hover{
    cursor: pointer;
    background-color:lightgreen;
}

button{
    padding: 10px;
    border-radius: 5px;
    border:black solid 1px;
    font-weight:600;
    width:200px;
}

button:hover{
    background-color:lightgreen;
    cursor: pointer;
}

input, select{
    padding:5px;
    border-radius:5px;
    border:black solid 1px;
}